# name: Test emasser CLI

# on:
#   push:
#     branches: [ main ]
#   pull_request:
#     branches: [ main ]

# jobs:
#   test:
#     strategy:
#       fail-fast: false
#       matrix: 
#        platform: [ ubuntu-latest, macos-latest, windows-latest ]
#        ruby-version: ['2.6', '2.7']
#     runs-on: ${{ matrix.platform }}
#     steps:
#       - name: Setup Ruby ${{matrix.ruby}}
#         uses: ruby/setup-ruby@v1
#         with:
#           ruby-version: ${{ matrix.ruby-version }}
#       - uses: actions/checkout@v2
#       - name: Testing on ${{ matrix.platform }} for Ruby ${{ matrix.ruby }}
#         if: matrix.platform == 'windows-latest'
#         run: |
#           echo "need to install libcurl.dll"
#       - name: Testing on ${{ matrix.platform }} for Ruby ${{ matrix.ruby }}
#         if: matrix.platform == 'ubuntu-latest' || matrix.platform == 'macos-latest'
#         run: |
#           bundle install
#           bundle info swagger_client
#           rspec spec --format documentation

name: Test emasser CLI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix: 
       platform: [ ubuntu-latest, macos-latest, windows-latest ]
       ruby-version: ['2.6', '2.7']
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Setup Ruby ${{matrix.ruby}}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - uses: actions/checkout@v2
      - uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: install curl -y
        if: matrix.platform == 'windows-latest'
      - name: Testing on ${{ matrix.platform }} for Ruby ${{ matrix.ruby }}
        if: matrix.platform == 'windows-latest'
        run: |
          # bundle install
          # bundle info swagger_client
          # rspec spec --format documentation
          echo "need to fix path to libcurl.dll"
      - name: Testing on ${{ matrix.platform }} for Ruby ${{ matrix.ruby }}
        if: matrix.platform == 'ubuntu-latest' || matrix.platform == 'macos-latest'
        run: |
          bundle install
          bundle info swagger_client
          rspec spec --format documentation
          